* {
  font-family: "Cardo", serif;
}

body {
  background-color: navy;
}

.outer {
  height: 100vh;
  height: 100svh;
  position: relative;
}

#titleContainer {
  margin: auto;
  width: 80%;
  text-align: center;
  color: yellow;
}

#titleContainer h1 {
  font-size: 3rem;
}

#titleContainer h3 {
  font-size: 1.5rem;
}

#textContainer {
  position: absolute;
  bottom: 0px;
  background-color: rgba(60, 60, 60, 0.5);
  border: 5px solid #333;
  height: 40%;
  width: 80%;
  margin: 2rem 2rem;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px)
{
  #textContainer {
    width: 50%;
    margin: 2rem;
  }
}

#btn {
  margin-bottom: auto;
  margin: auto;
  margin-top: 1rem;
  height: 5rem;
  width: 12rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: yellow;
  color: navy;
  border-radius: 10px;
}

@media screen and (min-width: 768px)
{
  #btn {
    font-size: 1.5rem;
  }
}

#btn:hover {
  background-color: navy;
  color: yellow;
}

#output {
  color: white;
  font-size: 1.5rem;
  margin: auto 0.5rem;
}

@media screen and (min-width: 390px)
{
  #output {
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px)
{
  #output {
    font-size: 2.5rem;
  }
}

#topDiv {
  display: none;
}

#newBtn {
  margin-top: 1rem;
  height: 4rem;
  width: 12rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: navy;
  color: yellow;
  outline: 2px solid yellow; 
  border-radius: 10px;
  cursor: pointer;
}

#newBtn:hover {
  background-color: yellow;
  color: navy;
  outline: 2px solid navy; 
  border-radius: 10px;
}

.fa-circle-question {
  font-size: 3rem;
  background-color: yellow;
  color: navy;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 2px yellow;
  cursor: pointer;
}

#modalBtn {
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  font-weight: 700;
  background-color: navy;
  color: yellow;
  outline: 2px solid yellow; 
  border-radius: 50%;
  cursor: pointer;
}

#modalBtn:hover {
  background-color: yellow;
  color: navy;
  outline: 2px solid navy;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  right: 0;
  top: 0;
  width: 50%; 
  height: 25%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

@media screen and (min-width: 390px)
{
  .modal {
    width: 100%;
  }
}

.modal-content {
  margin: auto;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  width: 80%;
}

.close {
  color: white;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}