* {
  font-family: "Cardo", serif;
}

body {
  background-color: navy;
}

.outer {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#titleContainer {
  margin: auto;
  width: 80%;
  text-align: center;
  color: yellow;
}

#titleContainer h1 {
  font-size: 3rem;
}

#titleContainer h3 {
  font-size: 2rem;
}

@media screen and (max-width: 800px)
{
  #textContainer {
    position: absolute;
    bottom: 0px;
    background-color: rgba(60, 60, 60, 0.5);
    border: 5px solid #333;
    height: 45%;
    width: 80%;
    margin: 5rem 2rem;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 801px)
{
  #textContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(60, 60, 60, 0.5);
    border: 5px solid #333;
    height: 45%;
    width: 35%;
    margin: 2rem;
    text-align: center;
    border-radius: 20px;
  }
}

@media screen and (max-width: 800px)
{
  #btn {
    margin-bottom: auto;
    margin: auto;
    margin-top: 1rem;
    height: 5rem;
    width: 12rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: yellow;
    color: navy;
    border-radius: 10px;
  }
}

@media screen and (min-width: 801px)
{
  #btn {
    margin: 1rem auto;
    height: 5rem;
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: yellow;
    color: navy;
    border-radius: 10px;
  }
}

#btn:hover {
  background-color: navy;
  color: yellow;
}

@media screen and (max-width: 800px)
{
  #output {
    color: white;
    font-size: 1.25rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 801px)
{
  #output {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
  }
}